<!--

用法:
在表单控件或者组件上创建 "双向绑定"

使用范围:
<input>
<select>
<textarea>
components



-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue入门</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>


<div id="app">
    <input v-model="msg">
    <input v-model="msg2">
    <p>hello {{msg+msg2}}</p><!--可以在{{}}里使用变量关系符-->
</div>


<script>

    new Vue({
        el: "#app",
        data: {
            msg: "",
            msg2: ""
        }
    })

</script>
</body>
</html>
