<!--



-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue入门</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>


<div id="app">
    <div>
        <input type="text" v-model="name">
        <button @click="add">添加</button>
    </div>
    <ul>
        <li v-for="(item, i) in list" :key="item.id">
            <input type="checkbox"> {{item.name}}
        </li>
    </ul>
</div>

<script>

    var vm = new Vue({
        el: '#app',
        data: {
            name: '',
            newId: 3,
            list: [
                {id: 1, name: '李斯'},
                {id: 2, name: '吕不韦'},
                {id: 3, name: '嬴政'}
            ]
        },
        methods: {
            add() {
                //注意这里是unshift
                this.list.unshift({id: ++this.newId, name: this.name})
                this.name = ''
            }
        }
    });

</script>
</body>
</html>
