<!--
基础
混入 (mixin) 提供了一种非常灵活的方式，来分发 Vue 组件中的可复用功能。
一个混入对象可以包含任意组件选项。当组件使用混入对象时，所有混入对象的选项将被“混合”进入该组件本身的选项。

自己理解：组件里的公共内容可以抽出来放入 mixin,然后在组件里进行复用。


参考官网:
https://cn.vuejs.org/v2/guide/mixins.html

选项合并：data、methods、components 和 directives 将被合并,具体策略查看上面的网址

全局混入：避免使用全局混入,一旦使用全局混入，它将影响每一个之后创建的 Vue 实例

自定义选项合并策略：可以 自定义逻辑合并





-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue入门</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<!--父组件通过属性的方式向子组件传递内容  比如  :index
    子组件通过发布,父组件通过订阅  比如this.$emit(发布)  @delete(订阅)
-->
<div id="root">
    <div>
        <input v-model="inputValue"/>
        <button @click="handleSubmit">提交</button>
    </div>
    <ul>
        <todo-item
                v-for="(item,index) of list"
                :key="index"
                :content1111="item"
                :index="index"
                @delete="handleDelete"
        >
        </todo-item><!--//这个是父组件-->
    </ul>

</div>

<script>
    //参考 vue-component.html
    //这里把methods抽出来,如果其他组件要用的话,就可以复用
    const mixin = {
        methods:{
            handleClick:function () {
                this.$emit('delete',this.index)
            }
        }
    };


    //全局组件，在这里是子组件
    Vue.component('todo-item',{
        props:['content1111','index'],
        template:'<li @click="handleClick">{{content1111}}</li>',
        mixins:[mixin]
    })


    new Vue({
        el: "#root",
        //指定局部组件
//        components:{
//          'todo-item':TodoItem
//        },
        data: {
            inputValue: '',
            list: []
        },
        methods: {
            handleSubmit() {
                this.list.push(this.inputValue)
                this.inputValue = ''
            },
            handleDelete(index) {
                this.list.splice(index,1)
            }
        }
    })
</script>

</body>
</html>
