<!--
Vue.component  参数之  props

props 可以是数组或对象，用于接收来自父组件的数据。props 可以是简单的数组，

或者使用对象作为替代，对象允许配置高级选项，如类型检测、自定义验证和设置默认值。

详情查看:Vue.js API  选项/数据 props


-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue入门</title>
    <script src="/vue-basics/vue.js"></script>
</head>
<body>
<div id="blog-post-demo">
    <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"
            v-bind:text="post.text"
    ></blog-post>
</div>
<script>
    /**
     * 组件使用方式  1.创建组件  2.挂载组件
     */
    //1.创建组件
    Vue.component('blog-post', {
        props: {
            title: {
                type: String,
                required: true
            },
            text: {
                type: String,
                required: true
            },
        },
        template: '<h3>{{ title}},{{text}}</h3>'
    })

    //2.挂载组件
    new Vue({
        el: '#blog-post-demo',
        data: {
            posts: [
                {id: 1, title: 'My journey with Vue', text: '2222222222'},
                {id: 2, title: 'Blogging with Vue', text: '2222222222'},
                {id: 3, title: 'Why Vue is so fun', text: '2222222222'}
            ]
        }
    })
</script>
</body>
</html>
