<!--

这个例子里的
handleSubmit 是父传子
handleDelete 是子传父


this.$emit('事件的名称'，参数(可以是多个))
@delete="handleDelete"  ===>  @事件的名称=父组件中事件。
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue入门</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<!--父组件通过属性的方式向子组件传递内容  比如  :index
    子组件通过发布,父组件通过订阅  比如this.$emit(发布)  @delete(订阅)
-->
<div id="app">
    <div>
        <input v-model="inputValue"/>
        <button @click="handleSubmit">提交</button>
    </div>
    <ul>
        <todo-item
                v-for="(item,index) of list"
                :key="index"
                :content1111="item"
                :index="index"
                @delete="handleDelete"
        >
        </todo-item><!--//这个是父组件-->
    </ul>

</div>

<script>



    //全局组件，在这里是子组件
    Vue.component('todo-item',{
        props:['content1111','index'],
        template:'<li @click="handleClick">{{content1111}}</li>',
        methods:{
            handleClick:function () {
                this.$emit('delete',this.index)
            }
        }
    })


    new Vue({
        el: "#app",
        data: {
            inputValue: '',
            list: []
        },
        methods: {
            handleSubmit() {
                this.list.push(this.inputValue)
                this.inputValue = ''
            },
            handleDelete(index) {
                this.list.splice(index,1)
            }
        }
    })
</script>

</body>
</html>
